<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="c-header">
        <nav class="c-header__wrap">
            <div class="c-header__logo">
                <img class="c-header__image"/>
            </div>
            <div class="c-menu-wrap">
                <div class="c-header__buttons">
                    <div class="c-header__purchase-wrap">
                        <a class="c-header__purchase" href="https://www.google.com.pe" target="_blank">COMPRA TU TICKET</a>
                    </div>
                    <div class="c-header__login">
                        <span></span>
                        <label>Regístrate o inicia sesion</label>
                    </div>
                </div>
                <div class="c-header__menu">
                    <div class="c-dropdown">
                        <label class="c-toggle" for="drop"></label>
                        <div class="c-header__menu-item c-dropdown--toggle">@Html.ActionLink("Reservas", "Index", "Home")</div>
                    </div>
                    <input id="drop" class="c-toggle-input" type="checkbox" />
                    <ul class="c-header__menu-item-wrap">
                        <li class="c-header__menu-item">@Html.ActionLink("Destinos", "About", "Home")</li>
                        <li class="c-header__menu-item">@Html.ActionLink("Conductores", "Contact", "Home")</li>
                        <li class="c-header__menu-item">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        <li class="c-header__menu-item c-header__menu-item--last">@Html.ActionLink("INICIO", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
